<section class="task-list--contenedor">
    <header class="task-list__header">
        <h1 class="task-list__header--h1">Mis tareas</h1>
        <button class="task-list__header--boton" id="boton" (click)="Formulario()">Nueva tarea</button>
    </header>

    <div class="task-list">
        <div *ngIf="tareas.length === 0">
            <p>No existen tareas pedientes</p>
        </div>
        <app-task-item *ngFor="let tarea of tareas; trackBy: trackById" [tarea]="tarea" (editar)="onEditarTarea(tarea)"
            (borrar)="onBorrarTarea(tarea)" (completar)="onCompletarTarea(tarea)" (reabrir)="onReabrirTarea(tarea)">
        </app-task-item>
    </div>

    <div class="modal-overlay" *ngIf="formulario">
        <div class="task-form">
            <div class="task-form__header">
                <h3 class="task-form__header--h3">Nueva tarea</h3>
                <button class="task-form__header--boton" (click)="Formulario()">
                    <img src="/x.svg" alt="Icono Cerrar">
                </button>
            </div>
            <form (ngSubmit)="guardarTarea()" #taskForm="ngForm">
                <div class="task-form__titulo">
                    <label for="">Título</label>
                    <input class="task-form__titulo--campo" type="text" id="task-titulo" required minlength="10"
                        [(ngModel)]="nuevoTitulo" name="titulo">
                </div>
                <div class="task-form__info">
                    <label for="">Descripción</label>
                    <textarea id="task-info" [(ngModel)]="nuevoDescripcion" name="descripcion"></textarea>
                </div>
                <div class="task-form__fecha">
                    <div class="task-form__fecha--prioridad">
                        <label for="">Prioridad</label>
                        <select id="task-prioridad" [(ngModel)]="nuevoPrioridad" name="prioridad">
                            <option value="0">Alta</option>
                            <option value="1">Media</option>
                            <option value="2">Baja</option>
                        </select>
                    </div>
                    <div class="task-form__fecha--fecha">
                        <label for="form-fecha">Fecha de Vencimiento</label>
                        <input type="date" id="form-fecha" required [min]="date" [(ngModel)]="nuevoFechaVenci"
                            name="fechaVenci">
                    </div>
                </div>
                <button class="task-form__boton" type="submit">Guardar Tarea</button>
            </form>
        </div>
    </div>
</section>