header {
    background-color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 80px;
    width: 100%;
}

.header__logo {
    width: 10%;
    margin-top: 5px;
    margin-bottom: -5px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navegacion__enlace {
    color: var(--primario);
    gap: 2px;
    font-size: 1rem;   
}
.navegacion__enlace:hover {
    color: var(--secundarioClaro);
}
