<div class="task-item">
    <div class="task-item__header">
        <h2 class="task-item__header--h2">Crear base de datos</h2>
        <div class="task-item__header--prioridad">
            <p class="task-item__header--parrafo">Alta</p>
        </div>
    </div>
    <div class="task-item__main">
        <div class="task-item__main--informacion">
            <p>diseñar y crear la base de datos de la empresa</p>
        </div>
        <div class="task-item__footer">
            <div class="task-item__footer--fechas">
                <div>
                    <p class="task-item__footer--fecha">Creada: 10/10/2025 </p>
                </div>
                <div>
                    <p class="task-item__footer--fecha">Vence: 20/10/2025</p>
                </div>
            </div>
            <div class="task-item__footer--acciones">
                <button class="task-item__footer--boton">Editar</button>
                <button class="task-item__footer--boton">Borrar</button>
                <button class="task-item__footer--boton">Completar</button>
            </div>
        </div>
    </div>
</div>