.task-item {
    background-color: var(--blanco);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: var(--sombra);
    transition: transform 0.2s;
    border-left: 4px solid var(--rojo);
}

.task-item:hover {
    transform: translateY(-2px);
}

.task-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-item__header--prioridad{
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    background-color: var(--rojo);
}

.task-item__header--parrafo {
    color: var(--blanco);
}

.task-item__header--h2 {
    font-weight: bold;
    font-size: 20px;
}

.task-item__main--informacion {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--grisOscuro);
}

.task-item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item__footer--fechas {
    display: flex;
    gap: 15px;
}

.task-item__footer--fecha {
    color: var(--grisMedio);
    font-size: 15px;
}

.task-item__footer--acciones {
    display: flex;
    gap: 10px;
}

.task-item__footer--boton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--grisOscuro);
}

.task-item__footer--p {
    color: var(--grisOscuro);
}

.task-item__footer--icon {
    width: 20px;
}

.task-item__footer--boton:hover {
    color: var(--negro);
}