<aside class="sidebar">
    <h2 class="sidebar__h2">Filtrar Tareas</h2>
    <div class="sidebar__filtro">
        <h3 class="sidebar__filtro--h3">Buscar:</h3>
        <input class="cajaTexto" type="text" placeholder="Buscar tareas...">
    </div>

    <div class="siderbar__filtro">
        <h3 class="sidebar__filtro--h3">Estado</h3>
        <div class="sidebar__filtro--opciones">
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Todas
            </label>
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Completadas
            </label>
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Pendientes
            </label>
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Vencida
            </label>
        </div>
    </div>
        <div class="siderbar__filtro">
        <h3 class="sidebar__filtro--h3">Prioridad</h3>
        <div class="sidebar__filtro--opciones">
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Alta
            </label>
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Media
            </label>
            <label class="filtro__opcion">
                <input class="checkbox" type="checkbox">Baja
            </label>
        </div>
    </div>
</aside>