<aside class="sidebar">
    <h2 class="sidebar__h2">Filtrar Tareas</h2>
    <div class="sidebar__filtro">
        <h3 class="sidebar__filtro--h3">Buscar:</h3>
        <input class="cajaTexto" type="text" placeholder="Buscar tareas..." [(ngModel)]="filtro.search"
            (ngModelChange)="onSearchChange()">
    </div>

    <div class="siderbar__filtro">
        <h3 class="sidebar__filtro--h3">Estado</h3>
        <div class="sidebar__filtro--opciones">
            <label class="filtro__opcion" *ngFor="let estado of estadosDisponibles">
                <input class="checkbox" type="checkbox" [checked]="(filtro.estados ?? []).includes(estado.value)"
                    (change)="onEstadoCheckboxChange($event, estado.value)"> {{estado.label}}
            </label>
        </div>
    </div>
    <div class="siderbar__filtro">
        <h3 class="sidebar__filtro--h3">Prioridad</h3>
        <div class="sidebar__filtro--opciones">
            <label class="filtro__opcion" *ngFor="let prioridad of prioridadesDisponibles">
                <input class="checkbox" type="checkbox" [checked]="(filtro.prioridades ?? []).includes(prioridad.value)"
                    (change)="onPrioridadCheckboxChange($event, prioridad.value)"> {{prioridad.label}}
            </label>
        </div>
    </div>
</aside>