<div class="conte">
    <div class="login">
        <div class="login__header">
            <h2>Iniciar Sesión</h2>
            <p>Accede a tu cuenta para gestionar tus tareas</p>
        </div>
        <form (ngSubmit)="onLogin()" class="login__form">
            <div>
                <input type="text" [(ngModel)]="username" name="text" placeholder="Nombre de usuario"
                    class="login__form--caja" required>
            </div>
            <div>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"
                    class="login__form--caja" required>
            </div>
            <div *ngIf="error" class="error">{{ error }}</div>
            <div class="login__form--footer">
                <div class="login__form--footer--check">
                    <input type="checkbox">
                    <p>Recordame</p>
                </div>
                <div class="login__form--footer--olv">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>
            </div>
            <div>
                <button type="submit" class="login__form--boton">
                    Inicio Sesión
                </button>
            </div>
        </form>
        <div class="login__footer">
            <p>¿No tienes una cuenta? <span [routerLink]="['/register']">Regístrate aquí</span></p>
        </div>
    </div>
</div>