:root {
    --primario: #C9CAD9;
    --secundario: #3F334D;
    --secundarioClaro: #574B60;
    --negro: #000;
    --blanco: #fff;
    --fuente:"Fira Mono", monospace;
    --sombra: 0 2px 5px rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: var(--fuente);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
    font-family: var(--fuente);
    color: var(--negro);
}

a {
    text-decoration: none;
    font-family: var(--fuente);
}

label {
    font-family: var(--fuente);
    font-size: 1.2rem;
}

img {
    width: 100%;;
}

main {
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    gap:20px
}