:root {
    --primario: #ece4b7;
    --secundario: #333333;
    --grisOscuro: #555555;
    --grisClaro: #e0e0e0;
    --grisMedio: #9e9e9e;
    --verde: #4caf50;
    --anaranjado: #ff9800;
    --rojo: #f44336;
    --blanco: #fff;
    --negro: #000;
    --fuente: "Roboto", sans-serif;;
    --sombra: 0 2px 5px rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

body {
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

p {
    color: var(--secundario);
}

a {
    text-decoration: none;
}

label {
    font-size: 17px;
    color: var(--secundario);
}

img {
    width: 100%;;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    flex-grow: 1;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}